#svg-move {
    display: grid;
    grid-template-columns: auto 50% auto; 
    grid-template-areas: ". svg .";
    >div {
       grid-area: svg;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;


       svg{
        border: 3x solid #000;
    }

    }

        
}