#svg-move {
    display: grid;
    grid-template-columns: auto 50% auto; 
    grid-template-areas: ". svg .";
    >div {
       grid-area: svg;
    
    }

        svg{
            border: 3x solid #000;
        }

}